credentials.key.path=/opt/credentials/key.pem
credentials.certs.path=/opt/credentials/certs.pem
credentials.keystore.path=/opt/credentials/keyStore.p12
credentials.keystore.password=changeit

idp.src.dir=/opt/shibboleth-identity-provider-3.4.6
idp.target.dir=/opt/shibboleth-idp
idp.host.name=idp.ynu.edu.cn
idp.scope=ynu.edu.cn
 
# CAS configuration
shibcas.casServerUrlPrefix=https://ids.ynu.edu.cn/authserver/
shibcas.casServerLoginUrl=${shibcas.casServerUrlPrefix}/login